<body class="profile-wrapper">
<div class="container">	
  	<div class="row">
		<div class="twelve columns">
			<div class="photo">
				<%= image_tag(current_user.avatar.url, :height=>"220px")%>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">	
			<div class="name">
				<%= current_user.firstName%> <%= current_user.lastName%>
			</div>
		</div>
	</div>

	<div class="row">	
		<div class="container" id="user-info">	
			<div class="row">
				<div class="four columns selected" id="profile">
					Profile
				</div>
				<div class="four columns" id="posts">
					Posts
				</div>
				<div class="four columns" id="trips">
					Trips
				</div>
			</div>
			<div class="row">
				<div id="show-info"></div>
			</div>
		</div>
	</div>
</div>
</body>
