// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;

}

.home-wrapper{
	background-color: #1EAEDB;
	text-align: center;
}

.uniride-heading{
	text-align: center;
	color: #f7f7f7;
	font-family: 'Lobster', cursive;
	font-size: 80px;
}

.home-wrapper .white-space{
	display: block;
	position: fixed;
	text-align: center;
	top: 200px;
	width: 100%;
	height: 400px;
	background-color: #f7f7f7;
	box-shadow: 0 1px 7px 2px;
}

.home-wrapper .white-space .container{
	padding: 20px;
	top: 100px;
}

.home-wrapper .row{
	margin-bottom: 5vh;
	margin-left: auto;
}

.devise-wrapper{
	background-color: #1EAEDB;
	text-align: center;
}

.devise-wrapper .devise-form{
	display: block;
	position: relative;
	margin: auto;
	width: 400px;
	border-radius: 3px;
	background-color: #f7f7f7;
	color: #2c2d2c;
	padding: 10px 90px;
	box-shadow: 0 3px 6px 1px;
	margin-bottom: 20px;
}

.devise-wrapper .row{
	margin-bottom: 5px;
}

.devise-wrapper .devise-form .button{
	padding: .2em .5em;
	font-size: 10px;
}

.devise-wrapper .twelve.line{
	opacity: 0.3;
	margin-bottom: 10px;
	border-top: solid 1px;
}
